html {
    box-sizing:border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}

img {
    max-width: 100%;

}

body{
    background-color: #83cfcd;
}

.container {
        background-color: #83cfcd;
        margin:auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 80px;
    }

@media (min-width:700px) {

  .container {
        max-width:800px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 80px;
        margin:0 auto;
    }

    .images{
     grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;   

    }
}




.images{

    margin:auto;
    display:flex;
    max-width: 80%;
    height:auto;
    border: 2px solid black;
    background-color: #ff009d;
    box-shadow: 5px 3px black;
    border-radius: 70px / 70px;
}





a {

    text-decoration: none;
    color: #f0e68c;
    font-family: "coquette", sans-serif;
    font-weight: 800;
    font-size: 20px;
    font-style: normal;
    -webkit-text-stroke: 1px black;
}


.button {

    text-decoration: none;
    color: white;
    border:2px solid black;
    box-shadow: 5px 3px black;
    background-color: #ff009d;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}


.nav{

    padding-top:10px;
    text-align: center;
}


.thepizzaplace{

    color:#ff009d;
    font-family: "coquette", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
    -webkit-text-stroke: 2px black;
    text-shadow:5px 3px black;
}

.top-part{

    margin-left: 40px;
    margin-right: 40px;
    text-align:center;
    background-color: #f0e68c;
    border: 2px solid black;
    box-shadow: 5px 3px black;
    border-radius: 70px / 70px;
}


.header-text{

    line-height: 20%;
    font-family: "komet", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.our-history{

    line-height: 0 1.5em 0 1.5em;
    font-family: "komet", sans-serif;
    font-weight: 400;
    font-size:14;
    font-style: normal;
    background-color: #f0e68c;
    border: 2px solid black;
    text-align: left;
    padding: 20px 20px 20px 20px;
    box-shadow: 5px 3px;
    
    /*this sets the rounded corners*/
    border-radius:70px / 70px;
    margin: 0 1em 0 1em;
}



.menu-items{

    background-color: #f0e68c;
    border: 2px solid black;
    margin: 0 1em 0 1em;
    padding: 30px 30px 30px 30px ;
    box-shadow: 5px 3px;
    border-radius:70px / 70px;
    margin: 0 1em 0 1em
}


.big-title{
    
    color:#ff009d;
    font-family: "coquette", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 90px;
    text-align: center;
    -webkit-text-stroke: 2px black;
    text-shadow: 5px 3px black;  
}



.menu-header{

    font-family: "coquette", sans-serif;
    font-size:40px;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    background-color: #ff009d;
    border: 2px solid black;
    box-shadow: 5px 3px black;
    border-radius:70px / 70px;
}



.item-name{

    font-family: "komet", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.price{

    font-family: "komet", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: -1em 0 1em 0;
    color:#ff009d;
    font-weight: 550;
}

.notes{
    margin-top: 2em;
    font-family: "komet", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.item-description{

    font-family: "komet", sans-serif;
    font-weight: 400;
    font-style: normal;   
    margin-top: -.5em;
}



.contact-us{

    background-color: #f0e68c;
    font-family: "komet", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin: 0 1em 0 1em;
    padding-bottom: 10px;
    box-shadow: 5px 3px black;
    border: 2px solid black;
    border-radius: 70px / 70px;
    padding: 10px 10px 10px 10px;
}



.back-to-top{
    
    text-align:center;
    padding: 20px;
}
